{% extends "layouts/page_base.html" %}
    {% block container %}
            <main class="userAdmin">
                <h2>User Admin</h2>
                <button class="headButton" onclick="创建新用户" type="button">Add</button>   <button class="headButton" onclick="删除用户" type="button">Delete</button>
                
                <form name="userSearch" action="" method="post">
                    <input type="search" name="keywords" value="" />
                    Role: <select name="role">
                        <option value="all">All</option>
                        <option value="0">Member</option>
                        <option value="1">Leader</option>
                        <option value="2">Admin</option></select>
                    Group: <select name="group">
                        <option value="">None</option>
                    {% for val in groups %}
                        <option value="{{ val.id }}">{{ val.name }}</option>
                    {% endfor %}
                        </select>
                    Status: <select name="state">
                        <option value="">All</option>
                        <option value="1">Active</option>
                        <option value="2">Suspended</option>
                        </select>                    
                    <input type="submit" value="Search">
                </form>
                <table cellspacing=0>
                    {# Each "contact" is a Contact model object. #}
                    <tr><th><input type="checkbox" name="selectUser" value="all" id="selectAllUser" /></th><th>Username</th><th>Email</th><th>Role</th><th>Group</th><th>Status</th><th>Created</th><th>Last Login</th></tr>
                    <tr><td colspan="8"><hr></td></tr>
                    {% for val in users %}
                    <tr><td><input type="checkbox" name="selectUser" value="{{ val.user.id }}"  /></td><td>{{ val.user.username }}</td><td>{{ val.user.email }}</td><td>{{ val.role }}</td><td>{{ val.group_str }}</td><td>{% if val.state == 2 %}Locked{% else %}Active{% endif %}</td><td>{{ val.user.date_joined }}</td><td>{{ val.user.last_login }}</td></tr>
                    {% endfor %}
                </table>
                <div id="pagination">
                    <div class="pageNum">
                        <p class="pageStatics"> {{ total_count }} <!--符合当前查询条件的数量-->results in {{ total_page }} <!--总页数-->pages.
                    </p>
                        <ul>
                            {% if users.has_previous %}
                            <li><a href="?page={{ users.previous_page_number }}">previous</a></li>
                            {% endif %}
                            <li>Page {{ users.number }} of {{ users.paginator.num_pages }}.</li>
                            {% if users.has_next %}
                            <li><a href="?page={{ users.next_page_number }}">next</a></li>
                            {% endif %}
                            <li><input type="number" name="page" value="" /></li>
                            <li><input type="submit" name="gotoPage" value="Go" id="gotoPage" /></li>
                        </ul>
                    <div class="qtyUpdater">
                        <select name="limit">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        </select> results per page.
                    </div>
                    </div>
                </div>
            </main>
        <script>
            $('#gotoPage').click(function () {
                page = $('input[name="page"]').val()
                url = '/admin/maxlead_site/user_list/?page=' + page +'&gotoPage=Go'
                window.location.href = url;
            });
        </script>
{% endblock %}

