<!-- head.php BEGIN -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <!--<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">-->
        <link rel="stylesheet" href="../../../static/max_stock/css/style.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="../../../static/max_stock/js/common.js"></script>
    </head>
    <body>
        <div class="wrapper">
		<div id="header">
			<!-- <ul class="ul-name-list">
				<li class="checked">Exl</li>
				<li>Twu</li>
				<li>Hanover</li>
				<li>Ill</li>
				<li>Wa</li>
				<li>Ego</li>
			</ul> -->
			<h3>Welcome,{{ user.user.username }}!</h3>
		</div>
		<div id="body" class="clearfix">
			<div id="aside">
				<div class="logo">
					<img src="http://placekitten.com/345/219" alt="" style="width: 100%;">
				</div>
				<div class="menu">
					<ul class="ul-menu">
						<li id="reviews"><a href="/admin/max_stock/index/">Review Data</a></li>
						<li id="thresholds"><a href="/admin/max_stock/threshold/">Threshold</a></li>
						<li id="user_admin"><a href="threshold.html">UserAdmin</a></li>
					</ul>
				</div>
			</div>
<!-- head.php END -->

    {%  block container%}

    {% endblock %}
<!-- footer.php BEGIN -->
		</div>
		<!-- <div id="footer">footer</div> -->
</div>
<div class="wrap-paper hide"></div>
	<div class="save-threshold hide">
		<form action="" id="form_threshold">
			<span class="btn-close">x</span>
			<h2 style="margin: 0 0px 0 164px;">库存阈值设置</h2>
			<label class="lab-post-param">
				<span>SKU:</span>
				<input type="text" name="sku">
			</label>
			<div class="text-box" style="float: none;margin-left: 30px;">
                <label>
                    <span>Warehouse:</span>
                    <select name="sel_warehouse">
                        <option value="EXL">EXL</option>
                        <option value="TWU">TWU</option>
                        <option value="Hanover">Hanover</option>
                        <option value="ILL">ILL</option>
                        <option value="WA">WA</option>
                        <option value="EGO">EGO</option>
                    </select>
                </label>
            </div>
			<label class="lab-post-param">
				<span>Threshold:</span>
				<input type="text" name="threshold">
			</label>
			<div>
				<input type="submit" value="Save" id="btn-threshold">
			</div>
		</form>
	</div>

</body>
</html>
<!-- footer.php END -->

