<!-- head.php BEGIN -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <!--<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">-->
        <link rel="stylesheet" href="/static/max_stock/css/stock_style.css" type="text/css">
        <script src="/static/max_stock/js/jquery-3.3.1.min.js"></script>
        <script src="/static/max_stock/js/stocks.js"></script>
    </head>
    <body>
    <div id="review" class="wrapper">
		<div id="header">
			<!-- <ul class="ul-name-list">
				<li class="checked">Exl</li>
				<li>Twu</li>
				<li>Hanover</li>
				<li>Ill</li>
				<li>Wa</li>
				<li>Ego</li>
			</ul> -->
			<h3>Welcome!</h3>
		</div>
<!-- head.php END -->

    {%  block container%}

    {% endblock %}
<!-- footer.php BEGIN -->
</div>
</body>
</html>
<!-- footer.php END -->

