<!-- head.php BEGIN -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <title>Staffx.pro</title>
        <!--<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">-->
        <link rel="stylesheet" href="../../../static/css/stylesheet.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="../../../static/js/basic.js"></script>
    </head>
    <body>
        <div id="container">
            <header>
                <a href="http://staffx.pro"><img id="logo" src="../../../static/img/logo.png" /></a>
                <div id="userNav">
                    <p><span  class="avatar">{{ avator }}</span><!--取用户名首字母--><span class="userName">{{ user.user.username }}</span><img id="menuSwitch" src="../../../static/img/downArrow.png" /></p>
                    <ul style="display:none;">
                        <li><a href="/admin/maxlead_site/user_detail/">Update Info</a></li>
                        {% if user.role == 2 %}
                        <li><a href="/admin/maxlead_site/user_list/">User Admin</a></li> <!--只对role为admin的用户显示-->
                        <li><a href="">Spider Admin</a></li><!--只对role为admin的用户显示-->
                        {% endif %}
                        <li><a href="/admin/maxlead_site/logout/">Log Out</a></li>
                    </ul>
                </div>
            </header>
<!-- head.php END -->
<!-- nav.php BEGIN -->
            <nav>
                <ul>
                    <a href="/admin/maxlead_site/dashboard/"><li>Dashboard</li></a>
                    <li>Sniffer</li>
                    <li class="subMenu"><a href="/admin/maxlead_site/listings/">Listing</a></li>
                    <a href="/admin/maxlead_site/miner/"><li>Miner</li></a>
                    <li>Ads Manager</li>
                    <li class="subMenu"><a href="/admin/maxlead_site/ads_data/">Data</a></li>
                    <li class="subMenu"><a href="/admin/maxlead_site/campaign/">Campaign</a></li>
                    <li class="subMenu"><a href="/admin/maxlead_site/brand/">Brand</a></li>
                    <li>Ads Report</li>
                    <li class="subMenu"><a href="">Brand/SKU</a></li>
                    <li class="subMenu"><a href="">Details</a></li>
                    <li class="subMenu"><a href="">Placement</a></li>
                    <li class="subMenu"><a href="">Kwd Alert</a></li>
                </ul>
                <p>Show me</p>
                <form action="" method="get" name="show-me" id="show_me">
                     <!--只dashboard，listing列表及miner页面显示此部分 &&  只对role为Leader或Admin的用户显示Show me及下拉选项-->
                    <select name="viewRange" id="viewRange">
                        <option value="">All</option>
                        {% for val in user_list %}
                        <option value="{{ val.user.id }}" {% if val.user.id == viewRange %}selected{% endif %}>
                            {%  if val.id == user.id %}Mine{% else %}{{ val.user.username }}{% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </nav>
            {%  block container%}

            {% endblock %}
            <!-- footer.php BEGIN -->
            <footer>
                <p>&copy;2017 Staff X</p>
            </footer>
        </div>
        <script>
            $('#viewRange').on('change', function () {
                $('#show_me').submit();
            })
        </script>
    </body>
</html>
<!-- footer.php END -->