{% extends "layouts/page_base.html" %}
{% load base %}
    {% block container %}
            <main class="listMgm">
                <h2>Brand/SKU</h2>
                <form method="get" action="" name="listSearchForm" autocomplete="autocomplete" autofocus="autofocus">
                    <input type="radio" name="searchCol" value="SKU" {% if searchCol == 'SKU' %}checked{% endif %}/>SKU
                    <input type="radio" name="searchCol" value="brand" {% if searchCol == 'brand' %}checked{% endif %}/>Brand <br><br>
                    <input type="search" name="listKwd" value="{{ listKwd }}" />
                    <select name="search_key" id="" disabled="disabled">
                        <option value="all">ALL</option>
                        <option value="SKU">SKU</option>
                        <option value="ASIN">ASIN</option>
                    </select>
                    <input type="submit" value="Search" /><br />
                         Account:
                    <select name="account" id="">
                        <option value="1">1账号</option>
                        <option value="2">子账号</option>
                        <option value="3">2账号</option>
                        <option value="4">3账号</option>
                        <option value="5">HZ账号</option>
                        <option value="6">UKDP</option>
                    </select>
                    <label>RangeType:</label>
                    <input type="radio" name="range_type" value="Monthly" class="range-type" {% if range_type == 'Monthly' %}checked{% endif %}> Monthly
                    <input type="radio" name="range_type" value="Weekly" class="range-type" {% if range_type == 'Weekly' %}checked{% endif %}> Weekly
                    <input type="checkbox" name="sum_by_date" {% if sum_by_date == 'on' %}checked{% endif %}> Sum By Date
                    <label>Brand:</label>
                    <div id="div_sel_block">
                        <input type="text" name="brand" class="input-sel brand_sel" value="{{ brand }}">
                        <ul class="ul-select" id="ul_brand" style="display: none">
                            {% for val in brand_list %}
                            <li class="select-li">{{ val }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <label>日期:</label>
                    <input type="week" name="week" value="{{ week }}" />
                    <input type="week" name="end_week" value="{{ end_week }}" />
                    <input type="month" name="month" value="{{ month }}"  style="display: none"/>
                    <input type="month" name="end_month" value="{{ end_month }}"  style="display: none"/>
                    <input type="hidden" name="order_type"  value="{{ order_type }}" class="">
                    <input type="hidden" name="order_dasc"  value="{{ order_dasc }}" class="">
                </form>
                <div >
                    <button class="funcButtons" type="button" id="export">Export</button>
                </div>
                <table cellspacing=0 id="datas">
                    <tr id="th-task">
                        <th><input type="checkbox" name="selectallListing" value="all" id="selectAllListing"/></th>
                        {% for val in fields %}
                        <th>{{ val.1 }}</th>
                        {% endfor %}
                    </tr>
                    <tr><td colspan="13"><hr></td></tr>
                    <tbody id="data_body">
                    {% for val in data %}
                    <tr>
                        <td><input type="checkbox" name="selectListing" value="{{ val.user_asin.id }}"  /></td>
                        {% for v in fields %}
                            <td>{{ val|get_item:v.0 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <hr>
                <input type="checkbox" name="selectallListing" value="all" id="selectAllListing2"/>
                <div id="editASIN"  style="display:none;">
                    <h3>Basic Info</h3>
                        <input type="hidden" name="ids" value="" id="editASIN_id"/>
                        <div class="basicInfo">*ASIN<br><textarea name="newASIN" rows=5 cols=18 title="每个ASIN请用|隔开">每个ASIN请用|隔开</textarea><!--如果是通过编辑进来，增加readonly属性--></div>
                        <div class="basicInfo">SKU<br><textarea name="newSKU" rows="5" cols="18" title="每个SKU请用|隔开,ASIN与SKU一一对应">每个SKU请用|隔开</textarea></div>
                        <div class="basicInfo">
                            *Ownership: <input type="radio" name="ownership" value="Ours" />Ours  <input type="radio" name="ownership" value="Others" />Others<br />
                            *Status: <input type="radio" name="status" value="1" />ON  <input type="radio" name="status" value="0" />OFF<br />
                            *Review Watcher: <input type="radio" name="revWatcher" value="1" />ON  <input type="radio" name="revWatcher" value="0" />OFF<br />
                            *Listing Watcher: <input type="radio" name="listWatcher" value="1" />ON  <input type="radio" name="listWatcher" value="0" />OFF
                        </div>
                        <div><span style="font-size:13px"><i>*</i> 每个ASIN和SKU请用‘|’隔开。</span></div>
                        <div class="kwdTracking">
                            <h3>Keywords Tracking</h3>
                            Keyword Set 1: <input type="text" name="kwdSet1" title="3 keywords/set max. separated by comma" />  Category Node: <input type="number" name="cat1" title="category node ID, number only"/><br />
                            Keyword Set 2: <input type="text" name="kwdSet2" title="3 keywords/set max. separated by comma"/>  Category Node: <input type="number" title="category node ID, number only" name="cat2" /><br />
                            Keyword Set 3: <input type="text" name="kwdSet3" title="3 keywords/set max. separated by comma"/>  Category Node: <input type="number" title="category node ID, number only" name="cat3" /><br />
                        </div>
                        <div><span style="font-size:13px"><i>*</i> Keywords请用‘,’隔开。</span></div>
                        <div class="listActionButton"><input type="submit" value="Add" id="btn-asin-add"/><input type="button" value="Cancel" id="editASINCancel"/></div>
                </div>
        <form action="" method="get" name="pageForm" id="page_form">
                <div id="pagination">
                    <div class="pageNum">
                        <p class="pageStatics"> {{ total_count }} <!--符合当前查询条件的数量-->results in {{ data.paginator.num_pages }} <!--总页数-->pages.
                    </p>
                        <ul>
                            {% if data.has_previous %}
                            <li><a href="?page={{ data.previous_page_number }}&limit={{ limit }}&listKwd=
                        {{ listKwd }}&searchCol={{ searchCol }}}&account={{ account }}&range_type={{ range_type }}
                        &sum_by_date={{ sum_by_date }}&week={{ week }}&end_week={{ end_week }}&month={{ month }}
                        &end_month={{ end_month }}&search_key={{ search_key }}">previous</a></li>
                            {% endif %}
                            <li>Page {{ data.number }} of {{ data.paginator.num_pages }}.</li>
                            {% if data.has_next %}
                            <li><a href="?page={{ data.next_page_number }}&limit={{ limit }}&listKwd=
                        {{ listKwd }}&searchCol={{ searchCol }}}&account={{ account }}&range_type={{ range_type }}
                        &sum_by_date={{ sum_by_date }}&week={{ week }}&end_week={{ end_week }}&month={{ month }}
                        &end_month={{ end_month }}&search_key={{ search_key }}">next</a></li>
                            {% endif %}
                            <li><input type="number" name="page" value="{{ page }}" /></li>
                            <li><input type="submit" name="gotoPage" value="Go" id="gotoPage" /></li>
                        </ul>

                    <div class="qtyUpdater">
                        <select name="limit">
                            <option value="20" {% if limit_re == 20 %}selected{% endif %}>20</option>
                            <option value="50" {% if limit_re == 50 %}selected{% endif %}>50</option>
                            <option value="100" {% if limit_re == 100 %}selected{% endif %}>100</option>
                        </select> results per page.
                    </div>

                    </div>
                </div>
        </form>
            </main>
        <script>
        var order_type = $("input[name='order_type']");
        var order_dasc = $("input[name='order_dasc']");
        if (order_type.val() !== '') {
            var th_h = $('#th-task').children('th').eq(order_type.val());
            th_h[0].dasc = order_dasc.val();
            var table_order = th_h.parents('table').eq(0);
            var rows_order = table_order.find('tr:gt(0)').toArray().sort(comparer(th_h.index()));
            if (th_h[0].dasc == 'true') {
                rows_order = rows_order.reverse();
            }
            $('#data_body').empty().html(rows_order);
        }
        var table = $('#datas').eq(0);
        table.on('click', 'th', function() {
            var table = $(this).parents('table').eq(0);
            order_type.val($(this).index());
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
            var inp_dasc =  order_dasc.val();
            if (inp_dasc !== '') {
                if (inp_dasc == 'false') {
                    this.dasc = true
                }else {
                    this.dasc = false
                }
            }else {
                this.dasc = !this.dasc;
            }
            order_dasc.val(this.dasc);
            if (this.dasc) {
                rows = rows.reverse();
            }
            $('#data_body').empty().html(rows);
        });

        var th = $('#datas th');
        var rows = table.find('tr:gt(0)').toArray().sort(comparer(th.index()));
        $('#data_body').empty().html(rows);

        var viewRange = $('select[name="viewRange"]').val();
        var viewrange_el = '<input type="hidden" name="viewRange" value="'+viewRange+'">';
        $('form[name="listSearchForm"]').append(viewrange_el);
        $('select[name="account"]').val({{ account }});
        $('select[name="search_key"]').val('{{ search_key }}');
        var range_type = $("input[name='range_type']:checked").val();
        var serch_key = $("input[name='searchCol']:checked").val();
        if (serch_key == 'SKU') {
            $("select[name='search_key']").removeAttr('disabled');
        }else {
            $("select[name='search_key']").attr('disabled', true);
        }
        if (range_type == 'Monthly'){
            $('input[name="week"]').attr('style', 'display:none');
            $('input[name="end_week"]').attr('style', 'display:none');
            $('input[name="month"]').removeAttr('style');
            $('input[name="end_month"]').removeAttr('style');
            $('input[name="month"]').val('{{ month }}');
            $('input[name="end_month"]').val('{{ end_month }}');
        }else {
            $('input[name="month"]').attr('style', 'display:none');
            $('input[name="end_month"]').attr('style', 'display:none');
            $('input[name="week"]').removeAttr('style');
            $('input[name="end_week"]').removeAttr('style');
            $('input[name="week"]').val("{{ week }}");
            $('input[name="end_week"]').val("{{ end_week }}");
        }

        $("input[name='searchCol']").click(function () {
            var search_col = $(this).val();
            if (search_col == 'brand') {
                $("select[name='search_key']").attr('disabled', true);
            }else {
                $("select[name='search_key']").removeAttr('disabled');
            }
        });

        $('.brand_sel').change(function () {
            var brand = $(this).val();
            $.get('/admin/maxlead_site/get_brand/',{'brand':brand},function (re) {
                if(re.code == 1){
                    var el = '';
                    for (var index in re.data){
                        el += '<li class="select-li">'+ re.data[index]+'</li>';
                    }
                    $('#ul_brand').html(el);
                    $('#ul_brand').show();
                }else {
                    alert(re.msg);
                }

            },'json');
        });

        $('.range-type').click(function () {
            var date = new Date();  //创建对象
            var y = date.getFullYear();
            var range_type = $(this).val();
            if(range_type == 'Monthly'){
                var max_month = date.getMonth()+1;
                if (max_month < 10){
                    max_month= '0' + max_month;
                }
                $('input[name="end_week"]').attr('style', 'display:none');
                $('input[name="end_month"]').removeAttr('style');
                $('input[name="end_month"]').attr('max', y+'-'+ max_month);
                $('input[name="end_month"]').attr('min', y+'-01');
            }else {
                var weeks = getWeekOfYear() - 1;
                $('input[name="end_month"]').attr('style', 'display:none');
                $('input[name="end_week"]').removeAttr('style');
                $('input[name="end_week"]').attr('max', y+'-W'+ weeks);
                $('input[name="end_week"]').attr('min', y+'-W01');
            }
        });

        $('#gotoPage').on('click',function () {
            var param = "&listKwd={{ listKwd }}&searchCol={{ searchCol }}&account={{ account }}&range_type={{ range_type }}"+
                        "&sum_by_date={{ sum_by_date }}&week={{ week }}&end_week={{ end_week }}&month={{ month }}"+
                        "&end_month={{ end_month }}&search_key={{ search_key }}";
            var page = $('input[name="page"]').val();
            var limit = $('select[name="limit"]').val();
            var viewRange = $('select[name="viewRange"]').val();
            var ordder_type = order_type.val();
            var order_dasc_val = order_dasc.val();
            var url = '/admin/maxlead_site/brand_sku/?page='+page+'&order_dasc='+order_dasc_val+'&order_type='+
                ordder_type+param+'&limit='+limit+'&viewRange='+viewRange;
            window.location.href = url;
            return false;
        });

        $('select[name="limit"]').on('change',function () {
            var param = "&listKwd={{ listKwd }}&searchCol={{ searchCol }}&account={{ account }}&range_type={{ range_type }}"+
                        "&sum_by_date={{ sum_by_date }}&week={{ week }}&end_week={{ end_week }}&month={{ month }}"+
                        "&end_month={{ end_month }}&search_key={{ search_key }}";
            var page = $('input[name="page"]').val();
            var limit = $('select[name="limit"]').val();
            var viewRange = $('select[name="viewRange"]').val();
            var ordder_type = order_type.val();
            var order_dasc_val = order_dasc.val();
            var url = '/admin/maxlead_site/brand_sku/?page='+page+'&order_dasc='+order_dasc_val+'&order_type='+
                ordder_type+param+'&limit='+limit+'&viewRange='+viewRange;
            window.location.href = url;
            return false;
        });

        $('#export').on('click',function () {
            var param = "&listKwd={{ listKwd }}&searchCol={{ searchCol }}&account={{ account }}&range_type={{ range_type }}"+
                        "&sum_by_date={{ sum_by_date }}&week={{ week }}&end_week={{ end_week }}&month={{ month }}"+
                        "&end_month={{ end_month }}&search_key={{ search_key }}";
            var viewRange = $('select[name="viewRange"]').val();
            var url = '/admin/maxlead_site/export_brand_sku/?'+param+'&viewRange='+viewRange;
            window.location.href=url;
        });
        </script>
    {% endblock %}

