{% extends "layouts/page_base.html" %}
    {% block container %}
            <main class="miner">
                <h2>Miner</h2>  
                <button id="addNewMiner" class="headButton" type="button"/>Import</button>
                <div id="addMinerTask" style="display:none;">
                    <form method = "post" action="" name="newTaskForm" />
                    <h3>New Task</h3>
                    <label>RangeType:</label>
                    <input type="radio" name="range_type" value="Monthly" class="range-type"/> Monthly
                    <input type="radio" name="range_type" value="Weekly" class="range-type"/> Weekly<br /><br />
                    <label>日期:</label>
                    <input type="week" name="week" value="" />
                    <input type="month" name="month" value=""  style="display: none"/> <br><br>
                    <label>Account:</label>
                    <select name="account" id="">
                        <option value=""></option>
                        <option value="1">1账号</option>
                        <option value="2">子账号</option>
                        <option value="3">2账号</option>
                        <option value="4">3账号</option>
                        <option value="5">HZ账号</option>
                        <option value="6">UKDP</option>
                    </select>
                    <label>Type:</label>
                    <select name="type" id="">
                        <option value=""></option>
                        <option value="1">Inventory</option>
                        <option value="2">Brand</option>
                        <option value="3">Business</option>
                        <option value="4">Search Term</option>
                        <option value="5">Placement</option>
                        <option value="6">Advertised</option>
                        <option value="7">Purchased</option>
                        <option value="8">SB Camp Pla</option>
                        <option value="9">SB Kwd Pla</option>
                    </select><br><br>
                    <label>请选择文件:</label>
                    <input type="file" name="my_file"><br><br>
                    <div class="actionButton">
                        <input type="button" value="import" id="import"/>  <input id="nmtCancel" type = "button" onclick="" value="Cancel" />
                    </div>
                </div>
                <table cellspacing="0px" id="datas">
                    <tr id="th-task">
                        <th>Account</th>
                        <th>Type</th>
                        <th>Date Range</th>
                        <th>Time</th>
                        <th>Change time</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                <tbody id="data_body">
                    {% for v in data %}
                    <tr id="tr_task_{{ v.id }}">
                        <td>{{ v.account }}</td>
                        <td>{{ v.type }}</td>
                        <td>{{ v.range_type }}</td>
                        <td>{{ v.created }}</td>
                        <td>{{ v.change_time }}</td>
                        <td>{{ v.user.username }}</td>
                        <td>
                            {% if v.is_del %}
                                <a href="javascript:;" class="minner-del" data-id="{{ v.id }}">delete</a>
                            {% else %}
                                {{ v.change_time }}
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                
            
            <form action="" method="get" name="pageForm" id="page_form">
                <div id="pagination">
                    <div class="pageNum">
                        <p class="pageStatics"> {{ total_count }} <!--符合当前查询条件的数量-->results in  {{ data.paginator.num_pages }} <!--总页数-->pages.
                    </p>
                        <ul>
                            {% if data.has_previous %}
                            <li><a href="?page={{ data.previous_page_number }}&limit={{ limit }}&viewRange={{ viewRange }}">previous</a></li>
                            {% endif %}
                            <li>Page {{ data.number }} of {{ data.paginator.num_pages }}.</li>
                            {% if data.has_next %}
                            <li><a href="?page={{ data.next_page_number }}&limit={{ limit }}&viewRange={{ viewRange }}">next</a></li>
                            {% endif %}
                            <li><input type="number" name="page" value="{{ page }}" /></li>
                            <li><input type="submit" name="gotoPage" value="Go" id="gotoPage" /></li>
                        </ul>

                    <div class="qtyUpdater">
                        <select name="limit">
                            <option value="20" {% if re_limit == 20 %}selected{% endif %}>20</option>
                            <option value="50" {% if re_limit == 50 %}selected{% endif %}>50</option>
                            <option value="100" {% if re_limit == 100 %}selected{% endif %}>100</option>
                        </select> results per page.
                    </div>

                    </div>
                </div>
            </form>
            </main>
        <script>
            var table = $('#datas').eq(0);
            table.on('click', 'th', function() {
                var table = $(this).parents('table').eq(0);
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
                this.dasc = !this.dasc;
                if (this.dasc) {
                    rows = rows.reverse();
                }
                $('#data_body').empty().html(rows);
            });
            function comparer(index) {
              return function(a, b) {
                var valA = getCellValue(a, index),
                  valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ?
                  valA - valB : valA.localeCompare(valB);
              };
            }

            function getCellValue(row, index) {
              return $(row).children('td').eq(index).text();
            }

             var th = $('#datas th');
             var rows = table.find('tr:gt(0)').toArray().sort(comparer(th.index()));
             $('#data_body').empty().html(rows);

            $('#gotoPage').on('click',function () {
                var page = $('input[name="page"]').val();
                var limit = $('select[name="limit"]').val();
                var viewRange = $('select[name="viewRange"]').val();
                var url = '/admin/maxlead_site/ads_data/?page='+page+'&limit='+limit+'&viewRange='+viewRange;
                window.location.href = url;
                return false;
            });

            $('select[name="limit"]').on('change',function () {
                var page = $('input[name="page"]').val();
                var limit = $('select[name="limit"]').val();
                var viewRange = $('select[name="viewRange"]').val();
                var url = '/admin/maxlead_site/ads_data/?page='+page+'&limit='+limit+'&viewRange='+viewRange;
                window.location.href = url;
                return false;
            });

             function getWeekOfYear(){
              var today = new Date();
              var firstDay = new Date(today.getFullYear(),0, 1);
              var dayOfWeek = firstDay.getDay(); 
              var spendDay= 1;
              if (dayOfWeek !=0) {
                spendDay=7-dayOfWeek+1;
              }
              firstDay = new Date(today.getFullYear(),0, 1+spendDay);
              var d =Math.ceil((today.valueOf()- firstDay.valueOf())/ 86400000);
              var result =Math.ceil(d/7);
              return result+1;
            }

            $('.range-type').click(function () {
                var date = new Date();  //创建对象
                var y = date.getFullYear();
                var range_type = $(this).val();
                if(range_type == 'Monthly'){
                    var max_month = date.getMonth()+1;
                    if (max_month < 10){
                        max_month= '0' + max_month;
                    }
                    $('input[name="week"]').attr('style', 'display:none');
                    $('input[name="month"]').removeAttr('style');
                    $('input[name="month"]').attr('max', y+'-'+ max_month);
                    $('input[name="month"]').attr('min', y+'-01');
                }else {
                    var weeks = getWeekOfYear() - 1;
                    $('input[name="month"]').attr('style', 'display:none');
                    $('input[name="week"]').removeAttr('style');
                    $('input[name="week"]').attr('max', y+'-W'+ weeks);
                    $('input[name="week"]').attr('min', y+'-W01');
                }
            });

            $('#addNewMiner').click(function () {
                $('#import').removeAttr('disabled');
            });
            $('#import').on('click', function () {
                var form_data = new FormData();
                var file_info = $('input[name="my_file"]')[0].files[0];
                var range_type = $('input[name="range_type"]:checked').val();
                var week = $('input[name="week"]').val();
                var month = $('input[name="month"]').val();
                var account = $('select[name="account"]').val();
                var type = $('select[name="type"]').val();
                if (!range_type || !account || !type || (!week && !month)){
                    alert('请填写Range Type/日期/Account/Type.');
                    return false;
                }
                $(this).attr('disabled', 'true');
                form_data.append('my_file',file_info);
                form_data.append('range_type',range_type);
                form_data.append('week',week);
                form_data.append('month',month);
                form_data.append('account',account);
                form_data.append('type',type);
                $.ajax({
                    url:'/admin/maxlead_site/data_import/',
                    type:'POST',
                    data: form_data,
                    processData: false,  // tell jquery not to process the data
                    contentType: false, // tell jquery not to set contentType
                    success: function(callback) {
                        alert(callback.msg);
                        window.location.reload();
                    }
                });
                return false;
            });

            $('.minner-del').click(function () {
               var task_id = $(this).data('id');
               if(confirm('确定删除？')){
                   $.get('/admin/maxlead_site/del_ads_data/',{'id':task_id},function (re) {
                        if(re.code == 1){
                            alert('删除成功！');
                            $(this).parent('td').html(re.data);
                            window.location.reload();
                        }else {
                            alert(re.msg);
                        }

                    },'json');
               }
            });
        </script>
{% endblock %}

