{% extends "layouts/page_base.html" %}
    {% block container %}
            <main class="miner">
                <h2>Miner</h2>  
                <button id="addNewMiner" class="headButton" type="button"/>New Task</button>
                <div id="addMinerTask" style="display:none;">
                    <form method = "post" action="" name="newTaskForm" />
                    <h3>New Task</h3>
                    <label>Type:</label> <input type="radio" name="taskType" value="review" /> Review  <input type="radio" name="taskType" value="qa" /> QA<br /><br />
                    <label>Name:</label> <input type="text" name="taskName" /><br /><br />
                    <label>Description:</label> <textarea name = "taskDesc" rows=2 cols=30></textarea><br /><br />
                    <label>ASIN List:</label> <textarea name = "taskASIN" rows=7 cols=18></textarea><br /><br />
                    <div class="actionButton">
                        <input type="submit" value="Add" />  <input id="nmtCancel" type = "button" onclick="" value="Cancel" />
                    </div>
                </div>
                <table cellspacing="0px">
                    <tr><th>Name</th><th>Type</th><th>Description</th><th>Request Time</th><th>Finish Time</th><th>Action</th></tr>
                    <tr><td>Task 1</td><td>QA</td><td>some description</td><td>2017-12-09 14:23</td><td>2017-12-10 01:45</td><td><span class="minerAction" id="传递taskid">Export</span></td></tr>
                    <tr><td>Task 1</td><td>QA</td><td>some description</td><td>2017-12-09 14:23</td><td>2017-12-10 01:45</td><td><span class="minerAction" id="传递taskid">Proccessing</span></td></tr>
                </table>
                
            
                <div id="pagination">
                    <p class="pageStatics"> 195 <!--符合当前查询条件的数量-->results in 10 <!--总页数-->pages.
                    </p>
                    <div class="pageNum">
                        <ul>
                            <li><a href="">|<</a></li>
                            <li><a href=""><</a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li>...</li>
                            <li><a href="">9</a></li>
                            <li><a href="">10</a></li>
                            <li><a href="">></a></li>
                            <li><a href="">>|</a></li>
                            <li><input type="number" name="pageNo" value="" /></li>
                            <li><input type="button" name="gotoPage" value="Go" /></li>
                        </ul>
                    </div>
                    
                    <div class="qtyUpdater">
                        <select name="qtyPerPage">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        </select> results per page.
                    </div>
                </div>
            </main>
            
{% endblock %}

