{% extends "Stocks/layouts/base.html" %}
{% block container %}
    <style>
        .sales-input {
            width: 29px;
            text-align: center;
        }
    </style>
    <div id="main" data-name="sales_vol">
        <div class="con-head">
            <h1>{{ title }}</h1>
            <form action="/admin/max_stock/sales_vol/">
                <div class="text-box">
                    <label>
                        <span>Search:</span>
                        <input type="text" name="keywords">
                    </label>
                </div>
                <div class="text-box">
                    <label>
                        <span>Start Date:</span>
                        <input type="date" name="start_date">
                    </label>
                </div>
                <div class="text-box">
                    <label>
                        <span>End Date:</span>
                        <input type="date" name="end_date">
                    </label>
                </div>
                <div class="text-box">
                    <label>
                        <span>Warehouse:</span>
                        <select name="warehouse">
                            <option value="all">All</option>
                            <option value="EXL">EXL</option>
                            <option value="TWU">TWU</option>
                            <option value="Hanover">Hanover</option>
                            <option value="ILL">ILL</option>
                            <option value="WA">WA</option>
                            <option value="EGO">EGO</option>
                            <option value="ATL-1">ATL-1</option>
                            <option value="TFD">TFD</option>
                        </select>
                    </label>
                </div>
{#                <div class="text-box">#}
{#                    <label>#}
{#                        <span>Is New:</span>#}
{#                        <select name="sel_new">#}
{#                            <option value="">All</option>#}
{#                            <option value="0">Old</option>#}
{#                            <option value="1">New</option>#}
{#                        </select>#}
{#                    </label>#}
{#                </div>#}
                <div class="text-box-btn">
                    <label>
                        <input type="submit" value="Search">
                    </label>
                </div>
            </form>
            <div class="clear"></div>
            <div class="con-head-left">
            {% if not have_new %}
                <div class="btn btn-blue">
                    <button id="inventory_import">Import</button>
                </div>
            {% endif %}
                {% if have_new %}
                <div class="btn btn-blue">
                    <button id="new_all_save">All Save</button>
                </div>
                <div class="btn btn-blue">
                    <button id="new_give_up">Give Up</button>
                </div>
                {% endif %}
            </div>
            <div class="con-head-right">
                <div class="btn btn-green">
{#                    <button id="btn_export_stocks">Export</button>#}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="con-body">
            <table id="datas" class="tb-datas">
                <tr id="tr-head">
                    <th>Sku</th>
                    <th>EXL</th>
                    <th>TWU</th>
                    <th>EGO</th>
                    <th>TFD</th>
                    <th>Hanover</th>
                    <th>ATL</th>
                    <th>SUM</th>
                    <th>Date</th>
                    <th>Fun</th>
                </tr>
                {% for val in stock_list %}
                <tr>
                    <td>{{ val.sku }}</td>
                    <td class="tr-stock-blue sales_num">
                        <span>{{ val.exl }}</span>
                        <input name='exl' type='text' value='' class="hide sales-input"/>
                    </td>
                    <td class="tr-stock-blue sales_num">
                        <span>{{ val.twu }}</span>
                        <input name='twu' type='text' value='' class="hide sales-input"/>
                    </td>
                    <td class="tr-stock-blue sales_num">
                        <span>{{ val.ego }}</span>
                        <input name='ego' type='text' value='' class="hide sales-input"/>
                    </td>
                    <td class="tr-stock-blue sales_num">
                        <span>{{ val.tfd }}</span>
                        <input name='tfd' type='text' value='' class="hide sales-input"/>
                    </td>
                    <td class="tr-stock-blue sales_num">
                        <span>{{ val.hanover }}</span>
                        <input name='hanover' type='text' value='' class="hide sales-input"/>
                    </td>
                    <td class="tr-stock-blue sales_num">
                        <span>{{ val.atl }}</span>
                        <input name='atl' type='text' value='' class="hide sales-input"/>
                    </td>
                    <td>{{ val.sum }}</td>
                    <td>{{ val.date }}</td>
                    <td>
                        <a href="javascript:;" class="fun-btn btn-edit sales-edit">Edit</a>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <div class="hide" id="import_modal">
        <form id="import_form" action="/admin/max_stock/stock_sales/?menu_id={{ menu_id }}" method="post" enctype="multipart/form-data">
            <input type="file" name="myfile">
            <input type="submit" value="Submit" id="btn_import_modal">
        </form>
        <div id="import_msg"></div>
    </div>
    <script>
        $(document).ready(function(){
          $('input[name="keywords"]').val("{{ keywords }}");
          $('select[name="warehouse"]').val('{{ warehouse }}');
          $('input[name="start_date"]').val('{{ start_date }}');
          $('input[name="end_date"]').val('{{ end_date }}');
          $('select[name="sel_new"]').val('{{ sel_new }}');
          $("form[name='userLogin']").submit(function(e){
            e.preventDefault();
          });
           {% if sales_msg %}
            var base_msg = '{{ sales_msg }}';
            alert(base_msg);
           {% endif %}
          $('#import_index').on('click',function () {
                $('.wrap-paper').removeClass('hide');
                $('#import_modal').removeClass('hide');
                $('input[name="type"]').remove();
            });
          $('#inventory_import').on('click',function () {
                $('.wrap-paper').removeClass('hide');
                $('#import_modal').removeClass('hide');
                $('#import_form').append('<input type="hidden" name="type" value="new">');
            });
            $('body').on('click','.wrap-paper' , function(){
                $('.wrap-paper').addClass('hide');
                $('#import_modal').addClass('hide');
            });
        });
        $('#btn_login').on('click',function () {
            var data = {
              'username':$('input[name="username"]').val(),
              'password':$('input[name="password"]').val()
            };
            $.post('/admin/maxlead_site/login/',data,function (re) {
               if(re.code==0){
                   alert(re.msg);
               }
               if(re.code==99){
                   window.location.href='/admin/max_stock/index/';
               }
            },'json');
            return false;
        });

        $(".sales_num").on('click', function () {
            $(this).children('input').removeClass('hide');
            $(this).children('input').addClass('sales-input-num');
            $(this).children('span').addClass('hide');
        });

        $('.sales-edit').on('click', function () {
            var el_tr = $(this).parents('tr');
            var arr_data = new Array();
            var sale_nums = el_tr.find('.sales-input-num');
            sale_nums.each(function () {
                var warehouse = $(this).attr('name');
                var num = $(this).val();
                var re = {
                  'sku' : el_tr.children('td').eq(0).text(),
                  'warehouse' : warehouse,
                  'num' : num,
                  'date' : el_tr.children('td').eq(8).text()
                 };
                arr_data.push(re);
            });
            var data = JSON.stringify(arr_data);
           $.post('/admin/max_stock/ajax_save_sales/',{'data':data},function (re) {
               if(re.code==1){
                   var qty1_sum = 0;
                   var sum = parseInt(el_tr.children('td').eq(7).html());
                   for(var index in arr_data){
                       var input_sale = el_tr.find('input[name="'+arr_data[index]['warehouse']+'"]');
                       var sale_td = input_sale.parents('td');
                       var qty1 =  parseInt(sale_td.children('span').html());
                       var num = qty1 + parseInt(arr_data[index]['num']);
                       if(qty1 < 0){
                           qty1_sum += parseInt(arr_data[index]['num']);
                           sale_td.html(num);
                       }else{
                           input_sale.addClass('hide');
                           sale_td.children('span').removeClass('hide');
                       }
                   }
                   el_tr.children('td').eq(7).html(qty1_sum+sum);
               }
               if(re.code==0){
                   alert(re.msg);
               }
               if(re.code==99){
                   window.location.href='/admin/max_stock/index/';
               }
            },'json');
        });
    </script>
{% endblock %}