{% extends "Stocks/layouts/base.html" %}
{% block container %}
    <div id="main" data-name="reviews">
        <div class="con-head">
            <h1>{{ title }}</h1>
{#            <form action="/admin/max_stock/index/">#}
{#                <div class="text-box">#}
{#                    <label>#}
{#                        <span>Search:</span>#}
{#                        <input type="text" name="keywords">#}
{#                    </label>#}
{#                </div>#}
{#                <div class="text-box">#}
{#                    <label>#}
{#                        <span>Warehouse:</span>#}
{#                        <select name="warehouse" id="">#}
{#                            <option value="">All</option>#}
{#                            <option value="EXL">EXL</option>#}
{#                            <option value="TWU">TWU</option>#}
{#                            <option value="Hanover">Hanover</option>#}
{#                            <option value="ILL">ILL</option>#}
{#                            <option value="WA">WA</option>#}
{#                            <option value="EGO">EGO</option>#}
{#                        </select>#}
{#                    </label>#}
{#                </div>#}
{#                <div class="text-box-btn">#}
{#                    <label>#}
{#                        <input type="submit" value="Search">#}
{#                    </label>#}
{#                </div>#}
{#            </form>#}
            <div class="con-head-right">
                <div class="btn btn-blue">
                    <button id="all_covered{{ type }}">{% if not type == 'new' %}All Edit{% endif %}</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="con-body">
            <table id="datas" class="tb-datas">
                <tr id="tr-head">
                    <th>Sku</th>
                    <th>Warehouse</th>
                    <th>Qty-old</th>
                    <th>Qty-new</th>
                    <th>Date</th>
                    <th>Fun</th>
                </tr>
                {% for val in data %}
                <tr class="tr-blue{{ val.is_same }} tr_covered">
                    <td>{{ val.sku }}</td>
                    <td>{{ val.warehouse }}</td>
                    <td>{{ val.qty_old }}</td>
                    <td>{{ val.qty_new }}</td>
                    <td>{{ val.date }}</td>
                    <td>
                        <a href="javascript:;" class="fun-btn btn-edit stock-check-edit" data-id="{{ val.id }}">
                            {% if type == 'new' %}
                                Covered
                            {% else %}
                                Edit
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% if type == 'new' %}
                <tr><td colspan="5" style="text-align: left"><a href="javascript:;" class="fun-btn btn-edit all_save">All save</a></td></tr>
            {% endif %}
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("form[name='userLogin']").submit(function (e) {
                e.preventDefault();
            });
            $('.stock-check-edit').on('click', function () {
                var elem = $(this);
                var elem_tr = $(this).parents('tr');
                var id = elem.data('id');
                var qty = elem.parents('td').prev().prev().html();
                var date_str = elem.parents('td').prev().html();
                var sku = elem.parents('tr').children('td:eq(0)').html();
                var warehouse = elem.parents('tr').children('td:eq(1)').html();
                var data = {
                    'id':id,
                    'sku':sku,
                    'warehouse':warehouse,
                    'qty':qty,
                    'date_str':date_str,
                    'type':'{{ type }}'
                };
                $.post('/admin/max_stock/checked_edit/',data,function (re) {
                   if(re.code==1){
                       elem.parents('tr').children('td:eq(2)').html(re.data);
                       elem.parents('tr').removeClass('tr-blue1');
                       elem.remove();
                       elem_tr.removeClass('tr_covered');
                   }
                   if(re.code==0){
                       alert(re.msg);
                   }
                   if(re.code==66){
                       window.location.href='/admin/max_stock/login/';
                   }
                },'json');
                return false;
            });

            $('#all_covered').on('click', function () {
                if(confirm('确认全部修改？')){
                    var data = new Array();
                    {% for val in data %}
                        var re = {
                          'id':{{ val.id }},
                          'sku':'{{ val.sku }}',
                          'warehouse':'{{ val.warehouse }}',
                          'qty_old':{{ val.qty_old }},
                          'qty_new':{{ val.qty_new }}
                        };
                        data.push(re);
                    {% endfor %}
                    data = JSON.stringify(data);
                    $.post('/admin/max_stock/checked_batch_edit/',{'data_stock':data},function (re) {
                        if (re.code == 1) {
                            alert(re.msg);
                            window.location.reload();
                        }
                        if (re.code == 0) {
                            alert(re.msg);
                        }
                        if (re.code == 66) {
                            window.location.href = '/admin/max_stock/login/';
                        }
                    },'json');
                    return false;
                }
            });

            $('.all_save').on('click',function () {
                var data = new Array()
                $('.tr-blue1').each(function () {
                    var re = {
                        'sku': $(this).find('td:eq(0)').html(),
                        'warehouse': $(this).find('td:eq(1)').html(),
                        'qty': $(this).find('td:eq(3)').html()
                    };
                    data.push(re);
                });
                 $.post('/admin/max_stock/check_all_new/',{'data':JSON.stringify(data)},function(re){
                    if (re.code == 1) {
                        alert(re.msg);
                        window.location.reload();
                    }
                    if (re.code == 0) {
                        alert(re.msg);
                    }
                    if (re.code == 66) {
                        window.location.href = '/admin/max_stock/login/';
                    }
                },'json');
            });
        });
    </script>
{% endblock %}