{% extends "Stocks/layouts/base.html" %}
{% block container %}
    <div id="main" data-name="sales_vol">
        <div class="con-head">
            <h1>{{ title }}</h1>
            <form action="/admin/max_stock/sales_vol/">
                <div class="text-box">
                    <label>
                        <span>Search:</span>
                        <input type="text" name="keywords">
                    </label>
                </div>
                <div class="text-box">
                    <label>
                        <span>Start Date:</span>
                        <input type="date" name="start_date">
                    </label>
                </div>
                <div class="text-box">
                    <label>
                        <span>End Date:</span>
                        <input type="date" name="end_date">
                    </label>
                </div>
                <div class="text-box">
                    <label>
                        <span>Warehouse:</span>
                        <select name="warehouse">
                            <option value="all">All</option>
                            <option value="EXL">EXL</option>
                            <option value="TWU">TWU</option>
                            <option value="Hanover">Hanover</option>
                            <option value="ILL">ILL</option>
                            <option value="WA">WA</option>
                            <option value="EGO">EGO</option>
                            <option value="ATL-1">ATL-1</option>
                            <option value="TFD">TFD</option>
                            <option value="PC">PC</option>
                            <option value="ZTO">ZTO</option>
                        </select>
                    </label>
                </div>
{#                <div class="text-box">#}
{#                    <label>#}
{#                        <span>Is New:</span>#}
{#                        <select name="sel_new">#}
{#                            <option value="">All</option>#}
{#                            <option value="0">Old</option>#}
{#                            <option value="1">New</option>#}
{#                        </select>#}
{#                    </label>#}
{#                </div>#}
                <div class="text-box-btn">
                    <label>
                        <input type="submit" value="Search">
                    </label>
                </div>
            </form>
            <div class="clear"></div>
            <div class="con-head-left">
{#            {% if not have_new %}#}
{#                <div class="btn btn-blue">#}
{#                    <button id="inventory_import">Inventory Import</button>#}
{#                </div>#}
{#            {% endif %}#}
                {% if have_new %}
                <div class="btn btn-blue">
                    <button id="new_all_save">All Save</button>
                </div>
                <div class="btn btn-blue">
                    <button id="new_give_up">Give Up</button>
                </div>
                {% endif %}
            </div>
            <div class="con-head-right">
                <div class="btn btn-blue">
                    <button id="all_save">Save</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="con-body">
            <table id="datas" class="tb-datas">
                <tr id="tr-head">
                    <th>Sku</th>
                    <th>EXL</th>
                    <th>TWU</th>
                    <th>EGO</th>
                    <th>TFD</th>
                    <th>Hanover</th>
                    <th>ATL</th>
                    <th>PC</th>
                    <th>ZTO</th>
                    <th>DES</th>
                    <th>Date</th>
                    {% if have_new %}
                    <th>Fun</th>
                    {% endif %}

                </tr>
                {% for val in list %}
                <tr>
                    <td>{{ val.sku }}</td>
                    <td class="tr-stock-blue{{ val.exl.is_same }}">{{ val.exl }}</td>
                    <td class="tr-stock-blue{{ val.twu.is_same }}">{{ val.twu }}</td>
                    <td class="tr-stock-blue{{ val.ego.is_same }}">{{ val.ego }}</td>
                    <td class="tr-stock-blue{{ val.tfd.is_same }}">{{ val.tfd }}</td>
                    <td class="tr-stock-blue{{ val.hanover.is_same }}">{{ val.hanover }}</td>
                    <td class="tr-stock-blue{{ val.atl.is_same }}">{{ val.atl }}</td>
                    <td class="tr-stock-blue{{ val.pc.is_same }}">{{ val.pc }}</td>
                    <td class="tr-stock-blue{{ val.zto.is_same }}">{{ val.zto }}</td>
                    <td>{{ val.error }}</td>
                    <td>{{ val.date }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <div class="hide" id="import_modal">
        <form id="import_form" action="/admin/max_stock/stock_sales/" method="post" enctype="multipart/form-data">
            <input type="file" name="myfile">
            <input type="submit" value="Submit" id="btn_import_modal">
        </form>
        <div id="import_msg"></div>
    </div>
    <script>
        $(document).ready(function() {
            $('input[name="keywords"]').val("{{ keywords }}");
            $('select[name="warehouse"]').val('{{ warehouse }}');
            $('input[name="start_date"]').val('{{ start_date }}');
            $('input[name="end_date"]').val('{{ end_date }}');
            $('select[name="sel_new"]').val('{{ sel_new }}');
            $("form[name='userLogin']").submit(function (e) {
                e.preventDefault();
            });
        });
        $('#all_save').on('click', function () {
            if (confirm('Save it?')) {
                var data = new Array();
                {% for val in list %}
                    {% if val.error == '' %}
                    var re = {
                        'sku': '{{ val.sku }}',
                        'exl': '{{ val.exl }}',
                        'twu': '{{ val.twu }}',
                        'ego': '{{ val.ego }}',
                        'tfd': '{{ val.tfd }}',
                        'hanover': '{{ val.hanover }}',
                        'atl': '{{ val.atl }}',
                        'pc': '{{ val.pc }}',
                        'zto': '{{ val.zto }}',
                        'date': '{{ val.date }}'
                    };
                    data.push(re);
                    {% endif %}
                {% endfor %}
                data = JSON.stringify(data);
                $.post('/admin/max_stock/save_sales/', {'data': data}, function (re) {
                    if (re.code == 1) {
                        alert(re.msg);
                        window.location.reload();
                    }
                    if (re.code == 0) {
                        alert(re.msg);
                    }
                    if (re.code == 66) {
                        window.location.href = '/admin/max_stock/login/';
                    }
                }, 'json');
                return false;
            }
        });
    </script>
{% endblock %}