{% extends "Stocks/layouts/base.html" %}
{% block container %}
    <div id="main" data-name="sfp_exports">
        <div class="con-head">
            <h1>{{ title }}</h1>
            <form action="/admin/max_stock/sfp/">
                <div class="text-box">
                    <label>
                        <span>Search:</span>
                        <input type="text" name="keywords">
                    </label>
                </div>

                <div class="text-box-btn">
                    <label>
                        <input type="submit" value="Search">
                    </label>
                </div>
            </form>
            <div class="con-head-right">
                <div class="btn btn-green">
                    <span id="kit_date">{{ kit_date }}</span>
                </div>
                 <div class="btn btn-green">
                    <button id="sync_kit">Sync Kit</button>
                </div>
                <div class="btn btn-green">
                    <button id="user_add">Add</button>
                </div>
                <div class="btn btn-blue">
                    <button id="user_import">Import</button>
                </div>
                <div class="btn btn-blue">
                    <button id="user_export">Export</button>
                </div>
                <div class="btn btn-blue">
                    <button id="btn_del">Delete</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="con-body">
            <table id="datas" class="tb-datas">
                <tr id="tr-head">
                    <th><input type="checkbox" id="check_all"></th>
                    <th>Kit</th>
                    <th>Sku</th>
                    <th>WHS </th>
                    <th>SFP </th>
                </tr>
                {% for key,val in data.items %}
                <tr data-id="{{ val.id }}">
                    <td><input type="checkbox" class="check_tr"></td>
                    <td>{% if val.is_kit %} {{ key }} {% endif %}</td>
                    <td>{{ val.sku }}</td>
                    <td>{{ val.whs }}</td>
                    <td>{{ val.sfp }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <div class="save-threshold hide save-block-info" id="save_user">
		<form action="" id="form_user">
			<span class="btn-close">x</span>
			<h2 style="margin: 0 0px 0 164px;">SFP Item</h2>
			<label class="lab-post-param">
                <span>Item:</span>
                <input type="text" name="item">
            </label>

			<div>
				<input type="submit" value="Save" id="btn_user">
			</div>
		</form>
    </div>

    <div class="hide" id="import_modal">
        <form id="import_form" method="post" enctype="multipart/form-data">
            <input type="file" name="myfile">
            <input type="submit" value="Submit" id="btn_import_modal">
        </form>
        <div id="import_msg"></div>
    </div>
    <script>
        $(document).ready(function(){
            $('#check_all').on('click', function () {
                  var checked = $(this).prop('checked');
                  if (checked) {
                      $('.check_tr').prop('checked', true);
                  }else {
                      $('.check_tr').prop('checked', false);
                  }
            });

          $('input[name="keywords"]').val('{{ keywords }}');

          $('#user_add').on('click',function () {
                $('.wrap-paper').removeClass('hide');
                $('#save_user').removeClass('hide');
                $('#form_user')[0].reset();
                $('#btn_user').removeAttr('disabled');
            });

          $('#user_import').on('click',function () {
                $('.wrap-paper').removeClass('hide');
                $('#import_modal').removeClass('hide');
            });
            $('body').on('click','.wrap-paper' , function(){
                $('.wrap-paper').addClass('hide');
                $('#import_modal').addClass('hide');
                $('#save_user').addClass('hide');
            });
        });
        $('#btn_user').on('click',function () {
            var data = {
              'item':$('input[name="item"]').val()
            };
            $(this).attr("disabled", true);
            $.post('/admin/max_stock/save_sfp/',data,function (re) {
               if(re.code==0 || re.code==1){
                   alert(re.msg);
                   if(re.code==1){
                       window.location.reload();
                   }
               }
               if(re.code==66){
                   window.location.href='/admin/max_stock/login/';
               }
            },'json');
            return false;
        });

        $('#btn_import_modal').on('click', function () {
            var form_data = new FormData();
            var file_info =$('input[name="myfile"]')[0].files[0];
            form_data.append('myfile',file_info);
            //if(file_info==undefined)暂且不许要判断是否有附件
                //alert('你没有选择任何文件');
                //return false
            $.ajax({
                url:'/admin/max_stock/import_sitem/',
                type:'POST',
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                success: function(callback) {
                    $('#import_msg').append('Work is done!<br>');
                    $('#import_msg').append(callback.msg);
                    $('#import_msg').append('<input type="button" id="user_sku_import" value="确定">');
                }
            });
            return false;
        });

        $('.user-edit').on('click', function () {
            $('.wrap-paper').removeClass('hide');
            $('#save_user').removeClass('hide');
            $('#form_user')[0].reset();
            $('#btn_user').removeAttr('disabled');
            var id=$(this).data('id');
            var tr = $(this).parents('tr');
            var sfp_tmp = tr.children('td').eq(0).text();
            var ware = tr.children('td').eq(1).text();
            $('input[name="sfp_temp"]').val(sfp_tmp);
            $('input[name="warehouse"]').val(ware);
            $('input[name="id"]').val(id);
        });

        $('.user-inactive').on('click', function () {
            if (confirm('Inactive this？')) {
                var id = $(this).data('id');
                $.post('/admin/max_stock/save_stemp/',{'id':id,'inactive': 'Y'},function (re) {
                   if(re.code==0 || re.code==1){
                       alert(re.msg);
                       if(re.code==1){
                           window.location.reload();
                       }
                   }
                   if(re.code==66){
                       window.location.href='/admin/max_stock/login/';
                   }
                },'json');
            }
            return false;
        });

        $('#user_export').on('click', function () {
            var keywords = $('input[name="keywords"]').val();
            var url = '/admin/max_stock/export_sfp/?keywords='+keywords;
            window.location.href=url;
        });

        $('#import_modal').on('click', '#user_sku_import', function () {
            window.location.reload();
        });

        $('#sync_kit').click(function () {
            if (confirm('Update kit？')) {
                var start_date = $('#kit_date').text();
                $.post('/admin/max_stock/update_kits/',{'start_date':start_date},function (re) {
                   if(re.code==0 || re.code==1){
                       alert(re.msg);
                       if(re.code==1){
                           window.location.reload();
                       }
                   }
                   if(re.code==66){
                       window.location.href='/admin/max_stock/login/';
                   }
                },'json');
            }
            return false;
        });

        $('#btn_del').on('click', function () {
            var elem_tr = $('.check_tr:checked').parents('tr');
            var data = new Array();
            if (elem_tr.length == 0) {
               alert('请选择Item!');
            }else {
                if (confirm('确认删除此Item?')) {
                    $(this).attr('disabled', 'true');
                    elem_tr.each(function () {
                        data.push($(this).data('id'));
                    });
                    var datas = {
                        'ids':  JSON.stringify(data)
                    };
                    $.post('/admin/max_stock/del_items/',datas,function (re) {
                        if(re.code==0 || re.code==1){
                            alert(re.msg);
                            if(re.code==1){
                                window.location.reload();
                             }
                       }
                       if(re.code==66){
                           window.location.href='/admin/max_stock/login/';
                       }
                    },'json');
                }
            return false;
           }
        });
    </script>
{% endblock %}