<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run Spiders</title>
</head>
<body>
{{ msg_str }}

<script language="javascript">
document.onkeydown = function(e){
    e = window.event || e;
    var keycode = e.keyCode || e.which;
    console.log(e.keyCode);
    if( keycode = 116){
        if(window.event){// ie
            try{e.keyCode = 0;}catch(e){}
            e.returnValue = false;
        }else{// ff
            e.preventDefault();
        }
    }
};

//禁止鼠标右键菜单
document.oncontextmenu = function(e){
    return false;
};

window.onbeforeunload = function (e) {
    return (e || window.event).returnValue = '确认要离开当页面？！';
};
</script>
</body>
</html>